<nav id="tnav" class="tnav-horizontal">
  <ul class="tnav-list">

    <li id="tnav-logo" class="tnav-item"><a href="/" accesskey="1">{{ site.title }}</a></li>

    <li id="tnav-menu" class="tnav-item"><a href="/contact/">contact</a></li>
    <li id="tnav-menu" class="tnav-item"><a href="/cv.pdf">cv</a></li>

    <li id="tnav-menu" class="tnav-item tnav-has-children tnav-allow-hover"><a>research</a>
      <ul class="tnav-children">
        <li class="tnav-item"><a href="{{ "/research/" | absolute_url }}">what i do</a></li>
        <li class="tnav-item"><a href="{{ "/team/" | absolute_url }}">my team</a></li>
        <li class="tnav-item"><a href="{{ "/pubs/" | absolute_url }}">publications</a></li>
      </ul>
    </li>

    <li id="tnav-menu" class="tnav-item"><a href="/about/">about</a></li>
  </ul>
</nav>

